i {
    color: red;
}

.wd-nav-list {
    background-color: black;

}

.wd-nav-list-group-item {
    background-color: black;
    color: white;
}

.wd-nav-active {
    color: red;
    background-color: white;
}